{% extends 'core/base.html' %}

<!DOCTYPE html>
<html>

<head>
  <title>Cadastrar Cliente</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>

<body>
  <h1>Cadastrar Cliente</h1>

  <!-- Formulário de Cadastro -->
  <form hx-post="{% url 'cadastrar_cliente' %}" hx-target="#lista-clientes" hx-swap="outerHTML" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
  </form>


  <!-- Lista de Clientes -->
  <div id="lista-clientes">
    {% if clientes %}
    <h2>Lista de Clientes</h2>
    {% for cliente in clientes %}
    <div>
      {{ cliente.nome }} - {{ cliente.cpf }}
      <a href="{% url 'atualizar_cliente' cliente.id %}" hx-get hx-target="#formulario-edicao"
        hx-swap="innerHTML">Editar</a>
      <form hx-post="{% url 'excluir_cliente' cliente.id %}" style="display:inline;" hx-target="#lista-clientes"
        hx-swap="innerHTML">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Tem certeza?')">Excluir</button>
      </form>
    </div>
    {% empty %}
    <p>Nenhum cliente cadastrado.</p>
    {% endfor %}
    {% else %}
    <p>Carregando clientes...</p>
    {% endif %}
  </div>

  <!-- Container para o formulário de edição -->
  <div id="formulario-edicao">
    {% if form %}
    <h2>Editar Cliente</h2>
    <form hx-post="{% url 'atualizar_cliente' cliente_id %}" hx-target="#lista-clientes" hx-swap="innerHTML">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Salvar</button>
    </form>
    {% endif %}
  </div>
</body>

</html>